body {
    margin: 0px;
}

.hander {
    height: 92px;
    width: 272px;
    margin-top: calc(13% - 3px);
    margin-left: calc(50% - 136px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 92px;
    width: 272px;
}

#h1 {
    margin: 0;
}

.bing-bar {
    height: 46px;
    max-width: 584px;
    margin: 22px auto 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}

.bing-bar-input {
    height: 46px;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    padding: 0px 20px 0 40px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 50px;
    outline: none;
}

.bing-bar-input:hover {
    box-shadow: 0 2px 7px rgb(0 0 0 / 15%);
}

.bing-bar-input:focus {
    box-shadow: 0 2px 7px rgb(0 0 0 / 15%);
}

.bing-bar-button-seek {
    margin: 3px 1px 1px 2px;
    height: 20px;
    fill: rgb(151, 151, 151);
}

.bing-bar-seek {
    margin: 2px 0 0 6px;
    left: 7px;
    background-color: #a1a1a100;
    position: absolute;
    border: none;
}

.bottom-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-text-p {
    font-size: 12px;
    color: #999999;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
}

.h-l-h-a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 历史记录下拉框样式 Start */
#history {
    max-height: 368px;
    max-width: 584px;
    transition: max-height 0.3s ease;
    overflow-y: auto;
    margin: 0 auto 0 auto;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 0 0 25px 25px;
    padding: 0;
    position: relative;
    display: none;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.history-item {
    height: 30px;
    padding: 8px 0px 8px 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

.history-item:hover {
    background-color: #e7e7e7;
}

.writtenWords {
    font-size: 15px;
    display: none;
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.delete-icon {
    height: 12px;
    width: 12px;
}
<<<<<<< HEAD

=======
>>>>>>> be0d460d55dd5dbcbe17667f19ceacc9be341949
/* 历史记录下拉框样式 End */

/* 移动端适配 Start*/
@media (max-width: 768px) {
<<<<<<< HEAD
    .logo {
        height: 40px;
        width: 116px;
    }

    .hander {
        height: 40px;
        width: 116px;
        margin-top: 14%;
        margin-left: calc(50% - 58px);
=======
    .hander{
        height: 46px;
        width: 270px;
        margin: auto;
        background-color: #eaeaea;
>>>>>>> be0d460d55dd5dbcbe17667f19ceacc9be341949
        display: flex;
        align-items: center;
        justify-content: center;
    }

<<<<<<< HEAD
    .bing-bar {
        height: 46px;
        width: 70%;
        margin: 30px auto 0 auto;
        display: flex;
        align-items: center;
=======
    .bing-bar{
        height: 50px;
        width: 70%;
        margin: 150px auto 0 auto;
        display: flex;
        align-items: center; /* 垂直居中对齐 */
>>>>>>> be0d460d55dd5dbcbe17667f19ceacc9be341949
        position: relative;
    }

    #history {
        max-height: 368px;
        transition: max-height 0.3s ease;
        width: 70%;
        overflow-y: auto;
<<<<<<< HEAD
        margin: 0px auto 0 auto;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 0 0 15px 15px;
        padding: 0;
        position: relative;
=======
        background-color: #ffffff;
        margin: 3px auto 0 auto;
        border: 1px solid #f3f3f3;
        border-radius: 0 0 15px 15px;
        padding: 0;
        position:relative;
>>>>>>> be0d460d55dd5dbcbe17667f19ceacc9be341949
        display: none;
        transition: transform 0.3s ease;
        box-sizing: border-box;
    }
}
<<<<<<< HEAD

=======
>>>>>>> be0d460d55dd5dbcbe17667f19ceacc9be341949
/* 移动端适配 End*/